In [ ]:
discard = 'machinelearning'
articles_keywords_droped = articles_keywords
# Removing articles that have mobilelearning keyword on the 1st column
articles_keywords_droped = articles_keywords_droped.drop(articles_keywords_droped.index[[48, 68, 77, 93, # Relevance 2
95, 196, 206, 208, 216, 217, 222, 223, 226, 229, 230, 254, 258, 274, 277, 306, 310, 315, 318, 327, 332, 344,
352, 361, 371, 426, 445, 481, 501, 519, 523, 581, 592, 598, 604, 618, 629, 649, 683, 690, 708, 715, 727, 746,
750, 817, 843, 864, 866, 874, 979, 980, 1013, 1018, 1040, 1061, 1087, 1128, 1051, 1261, 1283, # on 2nd column >
108, 180, 207, 220, 235, 249, 253, 256, 283, 329, 342, 350, 384, 403, 448, 460, 512, 514, 573, 603, 609, 631,
637, 668, 669, 704, 712, 860, 862, 863, 865, 885, 886, 915, 1055, 1102, 1106, 1109, 1112, 1171, 1174, 1183,
1190, 1197, 1221, 1284, # on 3rd column >
14, 121, 238, 248, 270, 282, 285, 298, 313, 333, 358, 386, 474, 
500, 515, 632, 702, 770, 859, 861, 1033, 1122, 1258, 1275, # on 4th column >
92, 210, 281, 284, 297, 330, 334, 355, 373, 379, 405, 455, 617, 867, 950, 1202, 1274, 1281, # on 5th and 6th column >
302, 377, 489, 596, 745, 513, 1130, # m-learning on 1st column >
1, 3, 17, 105, 215, 255, 259, 267, 269, 288, 326, 331, 383, 391, 440, 447, 449, 467, 491, 502, 540,
570, 579, 600, 628, 641, 685, 694, 725, 749, 806, 875, 1143, 1157, # on 2nd column >
205, 212, 239, 250, 268, 303, 311, 378, 409, 482, 614, 1031, 1278, # on 3rd, 4th, 5th and 6th column >
18, 225, 232, 300, 304, 480, 625, 769, 1160, 299, 307, 81, 314, 401, 613, 634, 868, 414, 831, # e-learning>
34, 58, 61, 62, 71, 146, 200, 224, 251, 261, 278, 301, 305, 323, 399, 417, 472, 548, 557, 653, 666, 678, 828, 929, 933,
990, 1002, 1012, 1054, 1070, 1114, 1120, 1123, 1167, 1176, 1256, 1259, # Relevance 1  # iot / internet of things >
46, 51, 59, 97, 104, 110, 122, 131, 187, 462, 465, 577, 643, 681, 779, 807, 811, 891, 917, 959, 966, 1005,
1011, 1084, 1085, 1092, 1100, 1134, 1137, 1139, 1147, 1152, 1164, 1165, 1172, 1178, 1217, 1245, 30, 40, 1267, 
47, 389, 421, 468, 550, 556, 812, 851, 938, 944, 1077, 1081, 1191, 1220, 1268, 456, # augmented reality >
9, 23, 32, 38, 50, 54, 60, 66, 83, 84, 85, 102, 116, 118, 123, 132, 181, 257, 322, 359, 360,
363, 370, 380, 428, 500, 516, 522, 526, 531, 532, 549, 639, 646, 691, 760, 762, 795, 818, 835, 945, 971, 972, 993, 
1003, 1004, 1015, 1034, 1043, 1149, 1153, 1162, 1173, 1218, 1232, 1233, 1239, 1241, 1242, 1264, # mobile application >
70, 80, 529, 601, 732, 737, 753, 758, 840, 905, 906, 940, 1206, 1219, # Relevance 0 security >
67, 96, 106, 113, 186, 191, 201, 204, 213, 219, 459, 537, 569, 574, 583, 584, 591, 606, 624, 776, 786, 791, 813, 853,
894, 956, 970, 1016, 1099, 1166, 1227, 1253, 1260, # machinelearning >
112, 904, 1247, 188, 693, 1014, 1163, 98, 175, 1028, 1271, 107, 889, 1035, 1131, 1158, 726, 664, # text-data mining >
10, 86, 109, 111, 130, 320, 485, 553, 588, 650, 995, 1104, 1156, # mobile application >
35, 63, 144, 151, 264, 393, 397, 402, 422, 434, 451, 458, 461, 496, 506, 510, 518, 520, 547, 563, 564,
567, 571, 607, 612, 622, 676, 686, 706, 744, 808, 829, 832, 833, 849, 898, 903, 914, 974, 986, 1023,
1062, 1065, 1132, 1135, 1222, 1234, 1235, 1273]])
articles_keywords_3 = articles_keywords_droped
articles_keywords_3 = articles_keywords_3.rename(columns={0: 'A', 1: 'B', 2: 'C', 3: 'D', 4: 'E', 5: 'F', 6: 'G', 7: 'H'
, 8: 'I', 9: 'J', 10: 'K', 11: 'L', 12: 'M', 13: 'N', 14: 'O', 15: 'P'})
articles_keywords_3 = articles_keywords_3.replace(' ','', regex=True)
# print(articles_keywords_3)

non_mlearning_0 = articles_keywords_3[articles_keywords_3.A.str.contains(discard)==False]
# non_mlearning_0 = non_mlearning_0.reset_index(drop=True)
print(non_mlearning_0)

In [ ]:
non_mlearning = non_mlearning_0.stack()
# articles_keywords_2 = articles_keywords_2.drop(columns=[0])
# non_mlearning = non_mlearning.replace(' ','', regex=True)
non_mlearning = non_mlearning.replace('',np.nan, regex=True)
display(non_mlearning)


count_non = non_mlearning.value_counts()
display(count_non)
non_mlearning.to_csv('keywords_non_mlearning.csv')
count_non.to_csv('keywords_count_non_mlearning.csv')

count_2_non_mlearning = pd.read_csv('keywords_count_non_mlearning.csv')
# display(count_2)

# count_3 = count_2_non_mlearning.columns[count_2_non_mlearning.columns.str.contains(pat = 'mobile')] 
print(count_2_non_mlearning)

In [ ]:
# New dataframe for tf-idf, list with mobile-learning abstracts, relevance 2
list = [48, 68, 77, 93, 95, 196, 206, 216, 217, 222, 223, 226, 229, 230, 254, 258, 274] # 208, 277, 306, 310, 315, 318, 327, 332, 344
# append values with relevance 1 IOT, augmented reality and mobile application
relevance_1 = []#9, 23, 32, 38, 50, 54, 46, 51, 59, 97, 104, 70, 80, 529, 601, 732, 737] # 17
list = list + relevance_1
# append values with relevance 0
relevance_0 = []#67, 96, 106, 113, 186, 191, 10, 86, 109, 111, 130, 35, 63, 144, 151, 264] # 16
list = list + relevance_0

list = [48, 68, 77, 93, 95, 196, 206, 216, 217, 222, 223, 226, 229, 230, 254, 258, 274, 208, 277, 306, 310, 315, 318, 327, 332, 344, 
352, 361, 371, 426, 445, 481, 501, 519, 523, 581, 592, 598, 604, 618, 629, 649, 683, 690, 708, 715, 727, 746, 750, 817,
9, 23, 32, 38, 50, 54, 46, 51, 59, 97, 104, 70, 80, 529, 601, 732, 737, 17 , 1011, 1084, 1085, 1092, 1100, 1134, 1137, 1139, 
1147, 1152, 1164, 1165, 1172, 1178, 370, 380, 428, 500, 516, 522, 526, 531, 1220, 1268, 753, 758, 840, 905, 906, 940, 1206, 1219,
112, 904, 1247, 188, 693, 1014, 1163, 98, 175, 1028, 10, 86, 109, 111, 130, 320, 485, 553, 588, 650, 35, 63, 144, 151, 264, 393, 397, 
402, 422, 434, 451, 458, 461, 496, 506, 510, 518, 520, 547, 563, 564, 567, 571, 607, 612, 622, 676, 686, 706, 744] 

data_tfidf = articles_df.iloc[list]
data_tfidf = data_tfidf.drop(columns=['keywords', 'publishing_date'])
print(data_tfidf)
data_tfidf.to_csv('data_tfidf.csv')

In [ ]:
'''
322     learn           96
364     mobil           58
606       use           36
552   student           34
555     studi           28
191      educ           27
601   univers           22
150     cours           19
345     manag           18
88   bachelor           16
366     model           16
489    result           15
174   develop           15
70     applic           15

322      learn  0.170411
364      mobil  0.112818
606        use  0.079719
552    student  0.071921
150      cours  0.070644
88    bachelor  0.067454
555      studi  0.066476
191       educ  0.057925
601    univers  0.053741
573  technolog  0.051780
366      model  0.050232
345      manag  0.048463
254       game  0.047460
174    develop  0.046808
'''
'''
674       learn          144
762       mobil          105
1267        use          104
1166    student           86
126      applic           82
1170      studi           66
362     develop           54
399        educ           51
330        data           41
1017   research           38
1026     result           37
1201  technolog           37
764       model           34
171        base           30

674       learn  0.100505
762       mobil  0.073925
1166    student  0.065201
1267        use  0.059423
126      applic  0.055630
399        educ  0.043893
1170      studi  0.042884
362     develop  0.042185
304       cours  0.033857
740       media  0.032450
1201  technolog  0.032262
1017   research  0.032167
764       model  0.031180
634         iot  0.029863
'''
dataset_p_sim = data_tfidf_5
dataset_p_sim = dataset_p_sim.reset_index(drop=True)
dataset_p_sim = dataset_p_sim.drop(columns=['abstract','abstract_without_stopwords'])
# dataset_p_sim['words'] = 'learn mobil use student cours bachelor studi educ univers technolog model manag game'
# dataset_p_sim['words'] = 'learn use student studi educ univers cours bachelor model manag'
# dataset_p_sim['words'] = 'learn mobil use student studi educ technolog design devic univers'
dataset_p_sim['words'] = 'learn mobil use student studi educ technolog design cours'
dataset_p_sim['relevance'] = 2
#for i in range(17,34):
#    dataset_p_sim.at[i,'relevance']=1
for i in range(50,100):
    dataset_p_sim.at[i,'relevance']=1
for i in range(100,150):
    dataset_p_sim.at[i,'relevance']=0
dataset_p_sim.rename(columns = {'stemmed': 'abstract'}, inplace = True)
dataset_p_sim = dataset_p_sim[['relevance', 'words', 'abstract']]
print(dataset_p_sim)
dataset_p_sim.to_csv('dataset_p_sim_2_tfidf.csv')

'''
667       learn          281
750       mobil          188
1231        use          133
1126    student          106
1130      studi           72
381        educ           60
339     develop           52
1155  technolog           50
987    research           42
335      design           41
341       devic           40
997      result           38
1223    univers           37
127      applic           37

667       learn  0.138216
750       mobil  0.099695
1231        use  0.070376
1126    student  0.066515
1130      studi  0.048166
381        educ  0.044905
1155  technolog  0.043785
335      design  0.042485
339     develop  0.040654
127      applic  0.036523
987    research  0.036054
341       devic  0.033758
297       cours  0.033415
754       model  0.033175
'''

'''
1384      learn          412
1564      mobil          354
2540        use          344
259      applic          251
2326    student          196
715     develop          170
2331      studi          165
2031   research          117
2042     result          113
2391  technolog          108
808        educ          103
658        data          102
347        base          101
1570      model           94

1384      learn  0.083292
1564      mobil  0.066084
2540        use  0.052748
259      applic  0.051742
2326    student  0.048503
715     develop  0.036114
2331      studi  0.034537
808        educ  0.029759
2031   research  0.029051
2391  technolog  0.027071
717       devic  0.026373
706      design  0.025855
1570      model  0.024909
658        data  0.024504
'''